footer {
  padding: 0 0 20px;
}

.footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  border-radius: 120px;
  padding: 20px 40px;
}
.footer-wrapper .logo {
  margin: 0 auto 0 0;
  max-width: 280px;
}

.link-developer {
  fill: #64748B;
  max-width: 125px;
  width: 100%;
  height: 55px;
  margin: 0 0 0 auto;
}
.link-developer:hover {
  fill: #0066FF;
}

.footer-link {
  margin: 0 auto;
  font-size: 18px;
  line-height: 120%;
  color: #0B1220;
  font-family: "Raleway", sans-serif;
}
.footer-link:hover, .footer-link:focus {
  color: #0066FF;
}

.modal-dialog {
  max-width: 433px;
}

.modal-content {
  border: none;
  border-radius: 60px;
  background: #fff;
  padding: 100px 20px;
}

.modal-header {
  padding: 0;
  margin: 0;
  border: none;
}
.modal-header .btn-close {
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 20px;
  right: 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  background: #EAF2FF url("../img/close-icon.svg") no-repeat center;
  background-size: 20px;
}

.modal-title {
  color: #0066FF;
}

.modal-body {
  padding: 0;
}
.modal-body .box-text {
  max-width: 233px;
  width: 100%;
  margin: 0 auto;
}

.modal-backdrop {
  background: #0B1220;
}
.modal-backdrop.show {
  opacity: 0.3;
}