.home {
  padding: 100px 0 20px;
}

.btn-price {
  margin: 0 0 20px auto;
}

.home-banner {
  position: relative;
}

.btn-sign {
  position: absolute;
  z-index: 2;
  width: 234px;
  height: 234px;
  right: 0;
  bottom: -99px;
}

.about-product__img {
  height: 100%;
}
.about-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-product__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-product__content h2 {
  margin: auto 0 40px 0;
}

.advantages-item {
  width: 100%;
  height: 100%;
  min-height: 104px;
  text-align: center;
  background: #fff;
  border-radius: 60px;
  border: 1px solid #0066FF;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: #0066FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-item-blue {
  background: #0066FF;
  color: #fff;
}

.who-for {
  margin: 120px 0 100px;
}
.who-for h2 {
  margin: 0 auto 40px;
  max-width: 620px;
}

.who-for-card {
  width: 100%;
  height: 100%;
  background: #fff;
}
.who-for-card__img {
  height: 300px;
}
.who-for-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.who-for-card__body {
  padding: 30px 40px 40px;
  width: 100%;
}
.who-for-card .box-text {
  font-family: "Unbounded", sans-serif;
}

.efficiency {
  padding: 0 0 120px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.efficiency::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0 0 120px 120px;
  background: #F4F9FF;
}
.efficiency h2 {
  padding: 30px 0 30px 90px;
  margin: 0;
}

.efficiency-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 120px;
  padding: 30px;
}

.efficiency-content {
  position: relative;
  z-index: 1;
  max-width: 687px;
  width: 100%;
  min-height: 345px;
  margin: 0 0 0 auto;
  background: #F4F9FF;
  border-radius: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.efficiency-content::before {
  content: "";
  position: absolute;
  left: -61px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 62px;
  height: 131px;
  background: url("../img/decor-img.svg") no-repeat center;
  background-size: 100%;
}
.efficiency-content .box-text {
  font-family: "Unbounded", sans-serif;
  max-width: 367px;
}

.stages {
  border-radius: 0 0 120px 120px;
}

.stage-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
  background: #F4F9FF;
  border-radius: 120px;
}
.stage-card__img {
  width: 50%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  overflow: hidden;
}
.stage-card__img img {
  border-radius: 120px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stage-card__body {
  width: 50%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #334155;
}
.stage-card__body .box-text {
  font-family: "Unbounded", sans-serif;
  max-width: 670px;
}
.stage-card:last-child {
  margin: 0;
}
.stage-card:nth-child(odd) .stage-card__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.stage-card__icon {
  margin: 0 0 32px;
}
.stage-card__number {
  margin: auto 0 20px;
  background: #fff;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  border-radius: 100px;
}

.preparation-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preparation-content {
  width: 40%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preparation-content h2 {
  margin-top: auto;
}

.preparation-list {
  width: 60%;
  padding: 30px 30px 30px 20px;
}

.preparation-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F4F9FF;
  margin: 0 0 20px;
  padding: 17px 60px;
  border-radius: 120px;
}
.preparation-list-item:last-child {
  margin: 0;
}
.preparation-list-item__icon {
  width: 100px;
  height: 100px;
  margin: 0 60px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preparation-list-item__body {
  width: calc(100% - 100px - 60px);
  padding: 0 0 0 60px;
  position: relative;
  z-index: 1;
}
.preparation-list-item__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 65px;
  background: #D6E3F5;
}
.preparation-list-item .h4 {
  color: #0066FF;
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 500;
}

.result h2 {
  max-width: 670px;
  margin: 0 auto 40px;
}

.result-card {
  width: 100%;
  height: 100%;
  background: #0066FF;
  color: #fff;
  border-radius: 60px;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.result-card__icon {
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  width: 120px;
  height: 120px;
  margin: 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.result-card .box-text {
  margin: auto 0 0;
}

.gallery {
  margin: 100px 0 120px;
}

.gallery-slider {
  padding: 0 100px;
}
.gallery-slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-slider-item {
  position: relative;
  z-index: 1;
  width: 572px;
  height: 700px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-slider-item__text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  background: #DCEBFF;
  border-radius: 120px;
  padding: 30px 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #334155;
}
.gallery-slider-item__img {
  width: 100%;
  height: 100%;
}
.gallery-slider-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 120px;
}

.nav-tabs {
  width: 100%;
  background: #fff;
  border-radius: 40px;
  border: none;
}
.nav-tabs .nav-item {
  width: 100%;
}
.nav-tabs .nav-link {
  border: none;
  border-radius: 120px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 122%;
  letter-spacing: -0.2px;
  width: 100%;
  text-align: left;
  color: #0B1220;
  margin: 0;
}
.nav-tabs .nav-link.active {
  background: #BFEF6B;
  color: #0B1220;
}
.nav-tabs .nav-link:hover {
  background: #A9E94B;
  color: #0B1220;
}

.tab-content {
  width: 100%;
  background: #fff;
  border-radius: 40px;
  padding: 40px;
}

.list-prices {
  width: 100%;
  color: #334155;
  font-size: 18px;
  line-height: 120%;
  font-weight: normal;
}
.list-prices li {
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #D6E3F5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-prices li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}

.callback-wrapper {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.callback-wrapper__content {
  max-width: 721px;
  width: 100%;
  margin: 0 auto 0 90px;
  padding: 80px 0 0;
}
.callback-wrapper .box-text {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
}
.callback-wrapper__form {
  background: #0066FF;
  max-width: 732px;
  width: 100%;
  color: #fff;
  padding: 80px;
  margin-left: auto;
}

.form-callback [type=submit] {
  margin: 40px 0 0;
}

.accordion {
  width: 100%;
  border: none;
  border-radius: 0;
}

.accordion-item {
  width: 100%;
  min-height: 120px;
  border: none;
  border-radius: 60px;
  background: #fff;
  margin: 0 0 20px;
  color: #0B1220;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}
.accordion-item:last-child {
  margin: 0;
}
.accordion-item:first-of-type {
  border-radius: 60px;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-header {
  border-radius: 0;
  border: none;
  background: transparent;
  width: 100%;
}

.accordion-button {
  height: 100%;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 30px 60px 30px 0;
  position: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.2px;
}
.accordion-button:after {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #BFEF6B url("../img/plus-icon.svg") no-repeat center;
  background-size: 26px;
  -webkit-transition: none;
  transition: none;
  position: absolute;
  right: 30px;
  top: 30px;
}
.accordion-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button:hover:after {
  background-color: #A9E94B;
}
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button span {
  font-weight: 300;
  margin: 0 20px 0 0;
  color: #334155;
}
.accordion-button:not(.collapsed) {
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  border-radius: 0;
  border: none;
  color: #0066FF;
}
.accordion-button:not(.collapsed) span {
  color: #334155;
}
.accordion-button:not(.collapsed)::after {
  background: #EAF2FF url("../img/close-icon.svg") no-repeat center;
  background-size: 26px;
}

.accordion-body {
  width: 100%;
  padding: 40px;
  background: #F4F9FF;
  border-radius: 60px;
}
.accordion-body .box-text {
  max-width: 817px;
}

.accordion-item:last-of-type {
  border-radius: 60px;
}

.accordion-collapse {
  width: 100%;
  max-width: 957px;
  padding: 30px 0;
}

.contacts-map {
  border-radius: 120px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.contacts-map::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: url("../img/pin.png") no-repeat center;
  background-size: 100%;
  z-index: 1;
}
.contacts-map img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.contacts-content {
  padding: 60px;
  width: 100%;
  height: 100%;
}

.contacts-item {
  width: 100%;
  font-size: 18px;
  margin: 0 0 20px;
}
.contacts-item:last-child {
  margin: 0;
}
.contacts-item a {
  color: #0B1220;
}
.contacts-item a:hover {
  color: #0066FF;
}
.contacts-item p {
  margin: 0 0 10px;
  font-weight: 300;
  color: #64748B;
}