.home {
  padding: 0 0 20px;
}

.btn-price {
  margin: 0 0 20px auto;
}

.home-banner {
  position: relative;
}

.btn-sign {
  position: absolute;
  z-index: 2;
  width: 234px;
  height: 234px;
  right: 0;
  bottom: -99px;
}

.about-product__img {
  height: 100%;
}
.about-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-product__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-product__content h2 {
  margin: auto 0 40px 0;
}

.advantages-item {
  width: 100%;
  height: 100%;
  min-height: 104px;
  text-align: center;
  background: #fff;
  border-radius: 60px;
  border: 1px solid #0066FF;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: #0066FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-item-blue {
  background: #0066FF;
  color: #fff;
}

.who-for {
  padding: 120px 0 100px;
}
.who-for h2 {
  margin: 0 auto 40px;
  max-width: 620px;
}

.who-for-card {
  width: 100%;
  height: 100%;
  background: #fff;
}
.who-for-card__img {
  height: 300px;
}
.who-for-card__body {
  padding: 30px 40px 40px;
  width: 100%;
}
.who-for-card .box-text {
  font-family: "Unbounded", sans-serif;
}

.efficiency {
  border-radius: 0 0 120px 120px;
  padding: 0 0 120px;
}
.efficiency h2 {
  padding: 30px 0 30px 90px;
  margin: 0;
}

.efficiency-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 120px;
  padding: 30px;
}

.efficiency-content {
  position: relative;
  z-index: 1;
  max-width: 687px;
  width: 100%;
  min-height: 345px;
  margin: 0 0 0 auto;
  background: #F4F9FF;
  border-radius: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.efficiency-content::before {
  content: "";
  position: absolute;
  left: -61px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 62px;
  height: 131px;
  background: url("../img/decor-img.svg") no-repeat center;
  background-size: 100%;
}
.efficiency-content .box-text {
  font-family: "Unbounded", sans-serif;
  max-width: 367px;
}

.stage-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
  background: #F4F9FF;
  border-radius: 120px;
}
.stage-card__img {
  width: 50%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.stage-card__img img {
  border-radius: 120px;
}
.stage-card__body {
  width: 50%;
  padding: 100px;
}
.stage-card:last-child {
  margin: 0;
}
.stage-card:nth-child(odd) .stage-card__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}