/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px) {
  .nav-menu {
    padding: 0 20px;
  }
  .menu li {
    margin: 0 20px 0 0;
  }
  .menu li:last-child {
    margin: 0;
  }
  .logo {
    max-width: 220px;
  }
  .phone {
    margin: 0;
  }
  .callback-wrapper__content {
    margin: 0;
    max-width: 600px;
  }
}
@media only screen and (max-width: 1440px) {
  h1, .h1 {
    font-size: 40px;
  }
  h2, .h2 {
    font-size: 30px;
  }
  .mb-60 {
    margin-bottom: 40px;
  }
  .br-120 {
    border-radius: 60px;
  }
  .mt-120 {
    margin-top: 60px;
  }
  .menu li {
    margin: 0 10px 0 0;
  }
  .menu li:last-child {
    margin: 0;
  }
  .home {
    padding: 60px 0 10px;
  }
  .about-product__content {
    padding: 40px;
  }
  .callback-wrapper__content {
    max-width: 50%;
    padding: 40px 20px 0 0;
  }
  .callback-wrapper__form {
    max-width: 50%;
    padding: 40px;
  }
  .contacts-map {
    border-radius: 60px;
  }
}
@media only screen and (max-width: 1370px) {
  .header-wrapper {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo {
    padding: 0 24px 0 0;
    border-right: 1px solid #D6E3F5;
  }
  .nav-menu {
    display: none;
    border: none;
  }
  .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu li {
    width: 100%;
    margin: 0 0 30px;
  }
  .menu li:last-child {
    margin: 0;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    max-width: 280px;
  }
  .btn-sign {
    width: 150px;
    height: 150px;
    bottom: -70px;
  }
  .efficiency h2 {
    padding: 30px;
  }
  .efficiency {
    padding: 0 0 60px;
  }
  .efficiency::before {
    border-radius: 0 0 60px 60px;
  }
  .stage-card__body {
    padding: 80px;
  }
  .result-card {
    padding: 30px;
  }
  .result-card__icon {
    margin: 0 0 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .preparation-content {
    padding: 60px;
  }
}
@media only screen and (max-width: 992px) {
  .p-120 {
    padding: 80px 0;
  }
  .mb-120 {
    marding-bottom: 80px;
  }
  .btn-price {
    margin: 0;
  }
  .about-product__content {
    margin: 0 0 10px;
    height: auto;
  }
  .about-product__img {
    height: auto;
  }
  .who-for {
    margin: 80px 0 60px;
  }
  .efficiency-wrapper {
    border-radius: 60px;
  }
  .efficiency h2 {
    padding: 10px 10px 60px;
  }
  .efficiency-content {
    max-width: none;
    border-radius: 60px;
    padding: 30px;
    height: auto;
    min-height: auto;
  }
  .efficiency-content::before {
    width: 153px;
    height: 34px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -34px;
    background: url("../img/decor-img-mobile.svg") no-repeat center;
    background-size: 100%;
  }
  .efficiency-content .box-text {
    max-width: none;
  }
  .stages {
    border-radius: 0 0 60px 60px;
  }
  .stage-card {
    border-radius: 60px;
    margin: 0 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  .stage-card:nth-child(odd) .stage-card__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .stage-card__img {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .stage-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 60px;
  }
  .stage-card__body {
    width: 100%;
    padding: 20px 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .stage-card__body .box-text {
    max-width: none;
  }
  .stage-card__icon {
    margin: 0 20px 0 0;
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
  .stage-card__number {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
  }
  .stage-card:last-child {
    margin: 0;
  }
  .preparation-content {
    width: 100%;
    padding: 40px 40px 20px;
  }
  .preparation-list {
    padding: 0 10px 10px;
    width: 100%;
  }
  .preparation-list-item {
    margin: 0 0 10px;
  }
  .preparation-list-item:last-child {
    margin: 0;
  }
  .preparation-list-item__icon {
    margin: 0 20px 0 0;
  }
  .preparation-list-item__body {
    padding: 0 0 0 20px;
  }
  .gallery {
    margin: 60px 0 80px;
  }
  .gallery-slider {
    padding: 0 0 80px;
  }
  .gallery-slider-item {
    height: 500px;
    width: 50%;
    padding: 0 5px;
    margin: 0;
    border-radius: 40px;
  }
  .gallery-slider-item:last-child .gallery-slider-item__text {
    left: auto;
    right: 10px;
  }
  .gallery-slider-item__img img {
    border-radius: 40px;
  }
  .slick-arrow {
    top: auto;
    bottom: 0;
    -webkit-transform: none;
            transform: none;
  }
  .gallery-slider-item__text {
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 15px;
  }
  .nav-tabs {
    width: 100%;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0 0 10px;
    background: transparent;
    border-radius: 0;
  }
  .nav-tabs .nav-item {
    margin: 0 4px 0 0;
  }
  .nav-tabs .nav-item:last-child {
    margin: 0;
  }
  .nav-tabs .nav-link {
    background: #fff;
  }
  .callback-wrapper {
    padding: 10px;
  }
  .callback-wrapper__content {
    padding: 20px;
    max-width: none;
  }
  .callback-wrapper__form {
    max-width: none;
    padding: 30px;
  }
  .accordion-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 30px;
    min-height: auto;
    margin: 0 0 10px;
  }
  .accordion-item:last-child {
    margin: 0;
  }
  .accordion-button {
    font-size: 15px;
    padding: 0;
  }
  .accordion-button:after {
    position: relative;
    right: 0;
    top: 0;
    margin: 0 0 0 auto;
  }
  .accordion-collapse {
    padding: 0;
  }
  .accordion-body {
    margin: 10px 0 0;
  }
  .footer-wrapper {
    border-radius: 40px;
    padding: 20px 30px;
  }
  footer {
    padding: 0 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu .phone {
    display: block;
    text-align: center;
    width: 100%;
    margin: 40px 0 0;
    padding: 40px 0 0;
    border-top: 1px solid #D6E3F5;
  }
  header .phone {
    display: none;
  }
  .about-product__img {
    height: 600px;
  }
  .who-for-card__body {
    padding: 20px 30px 30px;
  }
  .result-card {
    padding: 30px;
    border-radius: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .result-card__icon {
    width: 90px;
    height: 90px;
    min-width: 90px;
    margin: 0;
  }
  .result-card .box-text {
    margin: 0 0 0 20px;
  }
  .contacts-content {
    padding: 40px;
  }
  .footer-link {
    width: 60%;
  }
}
@media only screen and (max-width: 576px) {
  h1, h1 {
    font-size: 34px;
    margin: 0 0 20px;
  }
  h2, .h2 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  .subtitle-text {
    margin: 0 auto 10px;
    font-size: 16px;
  }
  .p-120 {
    padding: 40px 0;
  }
  .mt-120 {
    margin-top: 40px;
  }
  .mb-120 {
    margin-bottom: 40px;
  }
  .mb-20 {
    margin-bottom: 10px;
  }
  .box-text {
    font-size: 16px;
  }
  header {
    padding: 10px 0;
  }
  .home {
    padding: 30px 0 10px;
  }
  .about-product__img {
    height: 400px;
  }
  .advantages-item {
    min-height: 79px;
    padding: 16px 18px;
    font-size: 15px;
  }
  .advantages-item br {
    display: none;
  }
  .who-for {
    margin: 40px 0;
  }
  .btn-sign {
    display: none;
  }
  .who-for-card__img {
    height: 220px;
  }
  .efficiency h2 {
    font-size: 20px;
  }
  .stage-card__number {
    font-size: 15px;
  }
  .stage-card__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .stage-card__body .box-text {
    font-size: 15px;
  }
  .stage-card__img {
    height: 200px;
  }
  .preparation-list-item {
    padding: 30px;
    position: relative;
    z-index: 1;
    border-radius: 60px;
  }
  .preparation-list-item__icon {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
  .preparation-list-item__body {
    width: 100%;
    padding: 0;
  }
  .preparation-list-item__body::before {
    display: none;
  }
  .preparation-list-item .h4 {
    width: 100%;
    padding: 0 0 0 90px;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .preparation-list-item .box-text {
    font-size: 15px;
    margin: 10px 0 0;
    padding: 10px 0 0;
    width: 100%;
    border-top: 1px solid #D6E3F5;
  }
  .result h2 {
    margin: 0 auto 20px;
  }
  .gallery {
    margin: 40px 0;
  }
  .gallery-slider-item {
    height: 260px;
  }
  .nav-tabs .nav-link {
    font-size: 15px;
    padding: 10px 20px;
  }
  .tab-content {
    padding: 30px;
  }
  .list-prices {
    font-size: 16px;
  }
  .list-prices li {
    margin: 0 0 10px;
  }
  .list-prices li:last-child {
    margin: 0;
  }
  .form-callback [type=submit] {
    width: 100%;
  }
  input, textarea, select {
    font-size: 16px;
  }
  label {
    margin: 0 0 10px;
  }
  label:last-child {
    margin: 0;
  }
  .accordion-button:after {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }
  .accordion-button:not(.collapsed)::after {
    background-size: 20px;
  }
  .accordion-body {
    padding: 30px;
  }
  .contacts-map {
    height: 200px;
  }
  .contacts-map::before {
    width: 50px;
    height: 50px;
  }
  .contacts-item {
    font-size: 16px;
  }
  .footer-link {
    margin: 0 auto 0 0;
  }
  .footer-wrapper .logo {
    max-width: 170px;
  }
  .link-developer {
    width: 100px;
    height: 44px;
  }
  .footer-link {
    font-size: 14px;
    width: 70%;
  }
  .preparation-list-item .h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 440px) {
  .footer-link {
    font-size: 12px;
    width: 65%;
  }
  .link-developer {
    width: 80px;
    height: 30px;
  }
  .footer-wrapper {
    padding: 20px 15px;
  }
  .accordion-button {
    font-size: 14px;
  }
  .accordion-button span {
    margin: 0 10px 0 0;
  }
  .accordion-item {
    padding: 15px 20px;
  }
  .list-prices {
    font-size: 15px;
  }
  .result-card__icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }
  .result-card {
    padding: 30px 20px;
  }
}