@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Unbounded/Unbounded-Light.eot");
  src: url("../fonts/Unbounded/Unbounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded/Unbounded-Light.woff") format("woff"), url("../fonts/Unbounded/Unbounded-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Unbounded/Unbounded-Regular.eot");
  src: url("../fonts/Unbounded/Unbounded-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded/Unbounded-Regular.woff") format("woff"), url("../fonts/Unbounded/Unbounded-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Unbounded/Unbounded-Medium.eot");
  src: url("../fonts/Unbounded/Unbounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded/Unbounded-Medium.woff") format("woff"), url("../fonts/Unbounded/Unbounded-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Unbounded/Unbounded-Bold.eot");
  src: url("../fonts/Unbounded/Unbounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded/Unbounded-Bold.woff") format("woff"), url("../fonts/Unbounded/Unbounded-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Unbounded/Unbounded-SemiBold.eot");
  src: url("../fonts/Unbounded/Unbounded-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded/Unbounded-SemiBold.woff") format("woff"), url("../fonts/Unbounded/Unbounded-SemiBold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Unbounded", sans-serif;
  font-weight: normal;
  background: #F4F9FF;
  color: #0B1220;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 100px;
  width: 100%;
  height: 62px;
  background: #F4F9FF;
  color: #64748B;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #0B1220;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #0B1220;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #0B1220;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #0B1220;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #0B1220;
}
input:hover, textarea:hover, select:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  color: #000;
}
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder, select:hover::-webkit-input-placeholder {
  color: #0B1220;
}
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder, select:hover::-moz-placeholder {
  color: #0B1220;
}
input:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder, select:hover:-ms-input-placeholder {
  color: #0B1220;
}
input:hover::-ms-input-placeholder, textarea:hover::-ms-input-placeholder, select:hover::-ms-input-placeholder {
  color: #0B1220;
}
input:hover::placeholder, textarea:hover::placeholder, select:hover::placeholder {
  color: #0B1220;
}
input:focus, input.active, input:active, textarea:focus, textarea.active, textarea:active, select:focus, select.active, select:active {
  color: #0B1220;
  background: #fff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input:focus::-webkit-input-placeholder, input.active::-webkit-input-placeholder, input:active::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, textarea.active::-webkit-input-placeholder, textarea:active::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, select.active::-webkit-input-placeholder, select:active::-webkit-input-placeholder {
  color: #0B1220;
}
input:focus::-moz-placeholder, input.active::-moz-placeholder, input:active::-moz-placeholder, textarea:focus::-moz-placeholder, textarea.active::-moz-placeholder, textarea:active::-moz-placeholder, select:focus::-moz-placeholder, select.active::-moz-placeholder, select:active::-moz-placeholder {
  color: #0B1220;
}
input:focus:-ms-input-placeholder, input.active:-ms-input-placeholder, input:active:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, textarea.active:-ms-input-placeholder, textarea:active:-ms-input-placeholder, select:focus:-ms-input-placeholder, select.active:-ms-input-placeholder, select:active:-ms-input-placeholder {
  color: #0B1220;
}
input:focus::-ms-input-placeholder, input.active::-ms-input-placeholder, input:active::-ms-input-placeholder, textarea:focus::-ms-input-placeholder, textarea.active::-ms-input-placeholder, textarea:active::-ms-input-placeholder, select:focus::-ms-input-placeholder, select.active::-ms-input-placeholder, select:active::-ms-input-placeholder {
  color: #0B1220;
}
input:focus::placeholder, input.active::placeholder, input:active::placeholder, textarea:focus::placeholder, textarea.active::placeholder, textarea:active::placeholder, select:focus::placeholder, select.active::placeholder, select:active::placeholder {
  color: #0B1220;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 20px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Unbounded", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 400;
  height: 65px;
  border-radius: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.btn-accent {
  background: #BFEF6B;
  color: #0B1220;
}
.btn-accent:hover, .btn-accent:focus {
  background: #A9E94B;
  color: #0B1220;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1800px;
  padding: 0 20px;
}

.row {
  margin: 0 -10px;
}
.row > * {
  padding: 0 10px;
}

h1, .h1 {
  width: 100%;
  margin: 0 0 20px;
  font-size: 60px;
  line-height: 120%;
  font-weight: 600;
}

h2, .h2 {
  width: 100%;
  margin: 0 0 40px;
  font-size: 34px;
  line-height: 120%;
  font-weight: 500;
}

h3, .h3 {
  width: 100%;
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

.subtitle-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 100%;
  width: 100%;
  letter-spacing: -0.2px;
  margin: 0 auto 20px;
}

.text-big {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.box-text {
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.box-text p {
  margin: 0 0 20px;
}
.box-text p:last-child {
  margin: 0;
}

.title-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-100 {
  padding: 100px;
}

.p-120 {
  padding: 120px 0;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.image-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.image-box img {
  width: 100%;
}

.br-120 {
  border-radius: 120px;
}

.br-100 {
  border-radius: 100%;
}

.br-60 {
  border-radius: 60px;
}

.bg-white {
  background: #fff;
}

a.color-black {
  color: #0B1220;
}
a.color-black:hover, a.color-black:focus {
  color: #0066FF;
}

.font-default {
  font-family: "Unbounded", sans-serif;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  opacity: 1;
  border-radius: 50%;
  border: none;
  background: #BFEF6B;
  width: 60px;
  height: 60px;
  padding: 17px;
  stroke: #64748B;
  fill: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-arrow svg {
  width: 10px;
  height: 16px;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #A9E94B;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}