$default-font: 'Unbounded', sans-serif
$text-font: 'Raleway', sans-serif

$green: #BFEF6B
$green_hover: #A9E94B
$blue: #0066FF
$black: #0B1220

@mixin d-flex()
  display: flex
  align-items: center
  justify-content: center
