@import "vars"

header
    margin: 20px 0 120px    

.logo-img2
    display: none

.nav-menu
    margin: 0 auto
    padding: 0 65px
    border-right: 1px solid #D6E3F5
    border-left: 1px solid #D6E3F5
    display: flex
    align-items: center

.menu
    width: 100%
    display: flex
    align-items: center
    font-size: 12px
    line-height: 100%
    text-transform: uppercase
    li
        margin: 0 30px 0 0
        &:last-child
            margin: 0
        a
            color: $black
            &:hover, &:focus
                color: $blue
                text-decoration: underline

.header-wrapper
    width: 100%
    display: flex
    align-items: stretch
    padding: 20px
    background: #fff
    border-radius: 200px

.phone
    display: flex
    align-items: center
    margin: 0 20px 0 0
