/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px)
    .nav-menu
        padding: 0 20px

    .menu li
        margin: 0 20px 0 0
        &:last-child
            margin: 0

    .logo
        max-width: 220px

    .phone
        margin: 0

@media only screen and (max-width: 1440px)
    h1, .h1
        font-size: 40px

    .mb-60
        margin-bottom: 40px

    .br-120
        border-radius: 60px

    .menu
        li
            margin: 0 10px 0 0
            &:last-child
                margin: 0

    .home
        padding: 60px 0 10px

    .about-product__content
        padding: 40px

@media only screen and (max-width: 1370px)
    .header-wrapper
        padding: 20px

    header
        .logo
            padding: 0 24px 0 0
            border-right: 1px solid #D6E3F5

    .nav-menu
        display: none
        border: none

    .menu
        width: 100%
        flex-direction: column
        align-items: flex-start
        li
            width: 100%
            margin: 0 0 30px
            &:last-child
                margin: 0

    .btn-burger
        display: flex

@media only screen and (max-width: 992px)
    .btn-price
        margin: 0

@media only screen and (max-width: 768px)
    .nav-menu
        .phone
            display: block
            text-align: center
            width: 100%
            margin: 40px 0 0
            padding: 40px 0 0
            border-top: 1px solid #D6E3F5

    header
        .phone
            display: none

@media only screen and (max-width: 576px)
    h1, h1
        font-size: 34px
        margin: 0 0 20px

    header
        padding: 10px 0

    .home
        padding: 30px 0 10px

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)
